USE [master]
GO
/****** Object:  Database [Libreria]    Script Date: 29/04/2022 1:59:02 p. m. ******/
CREATE DATABASE [Libreria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Libreria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Libreria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Libreria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Libreria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libreria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libreria]
GO
/****** Object:  Table [dbo].[EstadosPrestamos]    Script Date: 29/04/2022 1:59:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPrestamos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDLibro] [int] NOT NULL,
	[IDEstudiante] [int] NOT NULL,
	[FechaPrestamo] [date] NOT NULL,
	[FechaDevolucion] [date] NULL,
 CONSTRAINT [PK_EstadosPrestamos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 29/04/2022 1:59:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstudiante] [nchar](10) NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 29/04/2022 1:59:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreLibro] [nchar](50) NULL,
 CONSTRAINT [PK_Libros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadosPrestamos] ON 

INSERT [dbo].[EstadosPrestamos] ([ID], [IDLibro], [IDEstudiante], [FechaPrestamo], [FechaDevolucion]) VALUES (17, 9, 2, CAST(N'2022-04-27' AS Date), CAST(N'2022-04-29' AS Date))
INSERT [dbo].[EstadosPrestamos] ([ID], [IDLibro], [IDEstudiante], [FechaPrestamo], [FechaDevolucion]) VALUES (20, 1, 1, CAST(N'2022-04-07' AS Date), CAST(N'2024-04-21' AS Date))
INSERT [dbo].[EstadosPrestamos] ([ID], [IDLibro], [IDEstudiante], [FechaPrestamo], [FechaDevolucion]) VALUES (24, 6, 2, CAST(N'2022-04-27' AS Date), CAST(N'2022-04-28' AS Date))
SET IDENTITY_INSERT [dbo].[EstadosPrestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([Id], [NombreEstudiante]) VALUES (1, N'Julian    ')
INSERT [dbo].[Estudiantes] ([Id], [NombreEstudiante]) VALUES (2, N'Paula     ')
INSERT [dbo].[Estudiantes] ([Id], [NombreEstudiante]) VALUES (3, N'Andrea    ')
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([Id], [NombreLibro]) VALUES (1, N'LA NUEVA EDUCACION                                ')
INSERT [dbo].[Libros] ([Id], [NombreLibro]) VALUES (2, N'LA NUEVA EDUCACION                                ')
INSERT [dbo].[Libros] ([Id], [NombreLibro]) VALUES (4, N'Finanzas corporativas                             ')
GO
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
/****** Object:  Index [LIBRO]    Script Date: 29/04/2022 1:59:02 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [LIBRO] ON [dbo].[EstadosPrestamos]
(
	[IDLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstadosPrestamos]  WITH CHECK ADD  CONSTRAINT [FK_EstadosPrestamos_Estudiantes] FOREIGN KEY([IDEstudiante])
REFERENCES [dbo].[Estudiantes] ([Id])
GO
ALTER TABLE [dbo].[EstadosPrestamos] CHECK CONSTRAINT [FK_EstadosPrestamos_Estudiantes]
GO
ALTER TABLE [dbo].[EstadosPrestamos]  WITH CHECK ADD  CONSTRAINT [FK_EstadosPrestamos_Libros] FOREIGN KEY([IDLibro])
REFERENCES [dbo].[Libros] ([Id])
GO
ALTER TABLE [dbo].[EstadosPrestamos] CHECK CONSTRAINT [FK_EstadosPrestamos_Libros]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstados]    Script Date: 29/04/2022 1:59:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerEstados]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	/****** Script for SelectTopNRows command from SSMS  ******/
	SELECT *, DATEDIFF(DAY,estado.FechaPrestamo, estado.FechaDevolucion) as dias
	  FROM [Libreria].[dbo].[EstadosPrestamos] estado
                                            join Estudiantes est on estado.IDEstudiante = est.Id 
                                            join libros lib on estado.IDLibro = lib.Id
END
GO
USE [master]
GO
